<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quantil.cm.api.mapper.PurgeTaskStatisticsMapper">

   <select id="selectStatisticsByTaskId"  resultType="com.quantil.cm.api.domain.PurgeTaskStatistics">
    	 SELECT *
          FROM purge_task_statistics
          WHERE purge_task_id = #{purgeTaskId}
  	</select>
    
</mapper>